.container {
    resize: both;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    .div {
        .card-employee{
            margin: 20px;
            width: 150px;
            height: 150px;
            font-weight: bold;
            background-color: antiquewhite;
        }
    }
}