.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    
}

.container {
    resize: both;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    .div {
        .card-employee{
            margin: 20px;
            width: 150px;
            height: 150px;
            font-weight: bold;
            background-color: rgb(219, 219, 253);
        }
    }
}